.messageContainer {
    position: absolute;
    top: 11%;
    left: 45%;
    color: rgb(8, 8, 8);
    background: rgba(184, 193, 206, 0.9);
    width: 300px;
    height: 80px;
    font-size: max(15px, 1.2vw);
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}