* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.servicesContainer {
  
  height: 80vh;
  width: 100%;
}

.servicesContainer .sectionName {
  position: absolute;
  left: 0;
  height: 75px;
  width: 260px;
  margin-top: 20px;
  color: #413737;
  text-align: right;
  font-size: 2.3rem;
  font-weight: bold;
  border-bottom: 5px solid #f91010;
}

.servicesContainer .offerContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.servicesContainer .offerContainer .offerText {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 150px 0 100px 0;
}
.servicesContainer .offerContainer .offerText h3 {
  font-size: 20px;
  text-align: center;
  margin: 80px 0 20px 105px;
  color: rgba(65, 55, 55, 1);
}

.servicesContainer .servicePics {
  height: 55%;
}
