* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url(../../pics/home/homepage-main.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: backImageAnimation 20s linear infinite;
}

@keyframes backImageAnimation {
  0%{background-image: url(../../pics/home/homepage-main.png)}
  23%{background-image: url(../../pics/home/homepage-main.png)}
  33%{background-image: url(../../pics/home/homepage-main2.png)}
  57%{background-image: url(../../pics/home/homepage-main2.png)}
  67%{background-image: url(../../pics/home/homepage-main3.png)}
  90%{background-image: url(../../pics/home/homepage-main3.png)}
  100%{background-image: url(../../pics/home/homepage-main.png)}
}

.navBar {
  height: 10vh;
  width: 100vw;
  margin-bottom: 20px;
  background: rgba(9, 9, 9, 0.63);
  color: whitesmoke;
}

.navBar li {
  color: whitesmoke;
  text-decoration: none;
}

.navBar li:hover {
  color: #f91010;
}

ul a {
  height: 70%;
  margin: 0 3%;
}

ul img {
  height: 100%;
}

.navBar ul {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

ul li {
  margin: 0 53px 0 20px;
  font-size: 1.8rem;
}

h1 {
  font-size: 3.1rem;
  margin-left: 3%;
}

h3 {
  font-size: 1.8rem;
  margin: 1% 0 0 3%;
}

.registerTile {
  position: absolute;
  left: -500px;
  bottom: 12%;
  height: 35%;
  width: 25%;
  margin: 0 0 5% 0;
  padding: 30px;
  background: rgba(245,245,245,0.9);
  color: black;
  font-size: 0.6rem;
  animation-name: registerShow;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes registerShow {
  0% {left: -500px;}
  55% {left: 50px;}
  70% {left: 0px;}
  100% {left: 0px;}
}


.registerText {
  width: 100%;
  font-size: 1.2vw;
}

.registerTile button {
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto;
  height: 12%;
  width: 30%;
  background: black;
  color: whitesmoke;
  font-size: 0.8rem;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.registerTile button:focus {
  outline: 0;
}

.registerTile button::after {
  position: absolute;
  content: "It's free!";
  width: 100px;
  color: black;
  font-size: 1.1vw;
  left: 13%;
  bottom: -35px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 13.5%;
  width: 25%;
}

.loginButton {
  height: 35%;
  width: 30%;
  background: black;
  color: whitesmoke;
  font-size: 0.8rem;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.loginButton:focus {
  outline: 0;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 300ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.85);
  pointer-events: none;
  z-index: 1;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Register / Login */

.formContainer {
  position: fixed;
  width: 275px;
  height: 475px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  background: linear-gradient(
    159.21deg,
    #f91010 2.41%,
    rgba(249, 16, 16, 0.33) 96.9%
  );
  border-radius: 8px;
  padding-top: 56.78px;
  z-index: 2;
}

.formContainer.active {
  transform: translate(-50%, -50%) scale(1);
}

.formContainer2 {
  position: fixed;
  width: 275px;
  height: 475px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  background: linear-gradient(
    159.21deg,
    #f91010 2.41%,
    rgba(249, 16, 16, 0.33) 96.9%
  );
  border-radius: 8px;
  padding-top: 56.78px;
  z-index: 2;
}

.formContainer2.active {
  transform: translate(-50%, -50%) scale(1);
}

.formContainer .formGroup, .formContainer2 .formGroup {
  position: relative;
  text-align: center;
}

.formContainer .formGroup label, .formContainer2 .formGroup label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
}

.formContainer .formGroup input, .formContainer2 .formGroup input {
  width: 173.49px;
  height: 34.93px;
  border-radius: 8px;
  border: none;
  margin: 10px 0 0 0;
}

.formContainer .registerBtn {
  position: absolute;
  width: 162.92px;
  height: 46.98px;
  left: 50%;
  transform: translate(-50%);
  top: 375px;
  background: #000000;
  border-radius: 8px;
  border: none;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}
.formContainer2 .loginBtn {
  position: absolute;
  width: 162.46px;
  height: 46.85px;
  left: 50%;
  transform: translate(-50%);
  top: 345.02px;
  background: #000000;
  border-radius: 8px;
  border: none;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}

.loginUserName {
  margin-top: 80px;
}

