* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	color: whitesmoke;
}

.background {
	height: 100vh;
	width: 99vw;
	background-image: url(../../pics/home/homepage-main.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation: backImageAnimation 20s linear infinite;
}

@keyframes backImageAnimation {
	0% {
		background-image: url(../../pics/home/homepage-main.png);
	}
	23% {
		background-image: url(../../pics/home/homepage-main.png);
	}
	33% {
		background-image: url(../../pics/home/homepage-main2.png);
	}
	57% {
		background-image: url(../../pics/home/homepage-main2.png);
	}
	67% {
		background-image: url(../../pics/home/homepage-main3.png);
	}
	90% {
		background-image: url(../../pics/home/homepage-main3.png);
	}
	100% {
		background-image: url(../../pics/home/homepage-main.png);
	}
}

.navBar {
	height: 10vh;
	width: 99vw;
	margin-bottom: 20px;
	background: rgba(9, 9, 9, 0.63);
	color: whitesmoke;
}

.navBar li {
	font-size: max(14px, 1.8vw);
	color: whitesmoke;
	text-decoration: none;
	cursor: pointer;
}

.navBar li:hover {
	color: #f91010;
}

ul a {
	cursor: pointer;
	height: 70%;
	margin: 0 3%;
}

ul img {
	height: 100%;
}

.navBar ul {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	list-style-type: none;
}

ul li {
	margin: 0 53px 0 20px;
	font-size: 1.8rem;
}

h1 {
	font-size: max(22px, 3vw);
	margin-left: 3%;
}

h3 {
	font-size: max(18px, 1.8vw);
	margin: 1% 0 0 3%;
}

.registerTile {
	position: absolute;
	left: -500px;
	bottom: 12%;
	height: 35%;
	width: 25%;
	min-width: 250px;
	margin: 0 0 5% 0;
	padding: 30px;
	background: rgba(245, 245, 245, 0.9);
	color: black;
	font-size: 0.6rem;
	animation-name: registerShow;
	animation-duration: 4s;
	animation-delay: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes registerShow {
	0% {
		left: -500px;
	}
	55% {
		left: 50px;
	}
	70% {
		left: 0px;
	}
	100% {
		left: 0px;
	}
}

.registerText {
	width: 100%;
	font-size: max(14px, 1.3vw, 1.5vh);
}

.registerButtonWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 100%;
}

.registerTile button {
	height: max(50px, 4vh);
	width: 30%;
	min-width: 80px;
	background: black;
	color: whitesmoke;
	font-size: max(12px, 1.1vw);
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.registerTile button:hover {
	font-weight: 800;
	color: #474747;
	background: rgb(236, 232, 232);
	box-shadow: 3px 3px 5px #474747;
}

.registerTile button:focus {
	outline: 0;
}

.registerTile span {
	margin-top: 3%;
	font-size: max(10px, 1.2vw);
}

.loginContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0px;
	left: 0;
	height: max(12%, 13vh);
	width: 25%;
}

.loginButton {
	height: max(50px, 4vh);
	width: 30%;
	min-width: 80px;
	background: black;
	color: whitesmoke;
	font-size: max(12px, 1.1vw);
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.loginButton:hover {
	font-weight: 800;
	color: #474747;
	background: rgb(236, 232, 232);
	box-shadow: 3px 3px 5px #474747;
}

.loginButton:focus {
	outline: 0;
}

#overlay {
	position: fixed;
	opacity: 0;
	transition: 300ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85);
	pointer-events: none;
	z-index: 1;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

/* Register / Login */

.formContainer {
	position: fixed;
	width: 275px;
	height: 475px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 300ms ease-in-out;
	background: linear-gradient(
		159.21deg,
		#f91010 2.41%,
		rgba(249, 16, 16, 0.33) 96.9%
	);
	border-radius: 8px;
	padding-top: 56.78px;
	z-index: 2;
}

.formContainer.active {
	transform: translate(-50%, -50%) scale(1);
}

.formContainer2 {
	position: fixed;
	width: 275px;
	height: 475px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 300ms ease-in-out;
	background: linear-gradient(
		159.21deg,
		#f91010 2.41%,
		rgba(249, 16, 16, 0.33) 96.9%
	);
	border-radius: 8px;
	padding-top: 25.78px;
	z-index: 2;
}

.formContainer2.active {
	transform: translate(-50%, -50%) scale(1);
}
form span {
	color: yellow;
	font-size: 12px;
}
.formContainer .formGroup,
.formContainer2 .formGroup {
	position: relative;
	text-align: center;
}

.formContainer .formGroup label,
.formContainer2 .formGroup label {
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	margin-top: 20px;
}

.formContainer .formGroup input,
.formContainer2 .formGroup input {
	width: 173.49px;
	height: 34.93px;
	border-radius: 8px;
	border: none;
	margin: 10px 0 0 0;
	padding: 0 10px 0 10px;
	text-align: center;
}

.formContainer .registerBtn {
	position: absolute;
	width: 162.92px;
	height: 46.98px;
	left: 50%;
	transform: translate(-50%);
	top: 375px;
	background: #000000;
	border-radius: 8px;
	border: none;
	font-weight: normal;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
}

.formContainer .registerBtn:hover,
.formContainer2 .loginBtn:hover {
	color: #474747;
	background: rgb(236, 232, 232);
	box-shadow: 3px 3px 5px #474747;
}

.formContainer2 .loginBtn {
	position: absolute;
	width: 162.46px;
	height: 46.85px;
	left: 50%;
	transform: translate(-50%);
	top: 345.02px;
	background: #000000;
	border-radius: 8px;
	border: none;
	font-weight: normal;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
}

.loginUserName {
	margin-top: 80px;
}
