* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.formContainer {
  position: absolute;
  width: 275px;
  height: 475px;
  left: 50%;
  top: 25%;
  background: linear-gradient(
    159.21deg,
    #f91010 2.41%,
    rgba(249, 16, 16, 0.33) 96.9%
  );
  border-radius: 8px;
  padding-top: 56.78px;
}

.formContainer .formGroup {
  position: relative;
  text-align: center;
}

.formContainer .formGroup label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
}

.formContainer .formGroup input {
  width: 173.49px;
  height: 34.93px;
  border-radius: 8px;
  border: none;
  margin: 10px 0 0 0;
}

.formContainer .registerBtn {
  position: absolute;
  width: 162.92px;
  height: 46.98px;
  left: 56px;
  top: 375px;
  background: #000000;
  border-radius: 8px;
  border: none;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}
.formContainer .loginBtn {
  position: absolute;
  width: 162.46px;
  height: 46.85px;
  left: 70px;
  top: 345.02px;
  background: #000000;
  border-radius: 8px;
  border: none;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}

.loginUserName {
  margin-top: 80px;
}
