.testimonials {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.testimonials .sectionName {
  position: absolute;
  right: 0;
  height: 60px;
  width: 260px;
  margin-top: 20px;
  color: #413737;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 5px solid #f91010;
}

/* .testimonials__main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  outline: 1px solid lime;
} */

.testimonials .tile1,
.tile2,
.tile3 {
  position: absolute;
  height: 180px;
}

.testimonials .picTwo {
  position: absolute;
  top: -35px;
  left: 70px;
  height: 50px;
}

.testimonials .picOne {
  height: 100%;
}

.testimonials .tile1 {
  top: 25%;
  left: 80px;
}

.testimonials .tile2 {
  top: 45%;
  left: 330px;
}

.testimonials .tile3 {
  top: 65%;
  left: 580px;
}
