* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url(../../pics/dashboard/dashboard-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: backImageAnimation 20s linear infinite;
}

/* NAVBAR CODING STARTED */
.navBar {
  display: flex;
  height: 10vh;
  width: 100vw;
  margin-bottom: 20px;
  background: rgba(249, 16, 16, 0.8);
  color: whitesmoke;
}
.navBar li {
  font-size: max(15px, 1.8vw);
}
.navBar li a {
  color: whitesmoke;
  text-decoration: none;
}

.navBar li a:hover,
.navBar li a.current {
  color: black;
}

ul a {
  height: 70%;
  margin: 0 3%;
}

ul img {
  height: 100%;
}

.navBar ul {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style-type: none;
}

ul li a {
  margin: 0 40px 0 20px;
}

.profileWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 20px;
}
.profileWrapper span:hover {
  color: black;
}

.profileWrapper a {
  height: 70%;
  margin-left: 20px;
}

.profileWrapper img {
  height: 100%;
}

/* NAVBAR CODING ENDED */

.mainContainer {
  width: 100vw;
  height: 78vh;
  margin-top: 100px;
}
/* .weekCount {
  background: #dbdbdb !important;
  width: 6vw !important;
  height: 10vh !important;
  font-size: max(15px, 1vw) !important;
} */

.mainContainer .date {
  display: flex;
  justify-content: space-between;
  width: 24vw;
  margin: 25px auto;
}

.mainContainer .date p {
  color: #474747;
  font-size: max(15px, 1.9vw);
  font-weight: 400;
  font-style: normal;
}
.mainContainer .date img {
  height: 3.7vh;
  margin-top: 1%;
  /* width: 1.8vw; */
}
.mainContainer .calendar {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75%;
}
/* .mainContainer .calendar .weekdays {
  width: 60vw;
  height: 4.1vw;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #474747;
  font-size: max(20px, 1.6vw);
  margin: 0 auto;
}

.mainContainer .calendar .weekdays div {
  font-weight: 400;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  background-color: #dbdbdb;
  width: 9vw;
  height: 8vh;
}
.mainContainer .calendar .weekdays .emptyGrayBox {
  background: #dbdbdb;
  width: 6vw;
  height: 8vh;
} */
/* .mainContainer .calendar .days {
  width: 60vw;
  height: 55vh;
  color: #474747;
  margin: 0 auto;
} */

.mainContainer .calendar .contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;
}

.mainContainer .calendar .contentWrapper .weekdays {
  display: flex;
  align-items: center;
  width: 100%;
  height: 18%;
  /* padding: 0 2rem; */
  color: #474747;
  font-size: max(20px, 1.6vw);
}

.mainContainer .calendar .weekdays div {
  font-weight: 400;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  background-color: #dbdbdb;
  width: 40%;
  height: 100%;
}

.mainContainer .calendar .weekdays .emptyGrayBox {
  width: 28.5%;
  margin-bottom: 2px;
}

.mainContainer .calendar .days {
  display: flex;
  height: 100%;
  width: 100%;
}

.mainContainer .calendar .weekWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.mainContainer .calendar .weekCount {
  width: 10%;
  margin-right: 2px;
}

.mainContainer .calendar .weekCount div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19.6%;
  width: 100%;
  margin-bottom: 2px;
  color: #474747;
  background: #dbdbdb;
}

.mainContainer .calendar .days .firstWeek,
.mainContainer .calendar .days .secondWeek,
.mainContainer .calendar .days .thirdWeek,
.mainContainer .calendar .days .fourthWeek,
.mainContainer .calendar .days .fifthWeek {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* padding: 0 2rem; */
  margin-bottom: 2px;
}

.mainContainer .calendar .days .firstWeek div,
.mainContainer .calendar .days .secondWeek div,
.mainContainer .calendar .days .thirdWeek div,
.mainContainer .calendar .days .fourthWeek div,
.mainContainer .calendar .days .fifthWeek div {
  font-size: max(20px, 1.2vw);
  margin-right: 2px;
  margin-bottom: 2px;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

/* .mainContainer .calendar .days .firstWeek,
.mainContainer .calendar .days .secondWeek,
.mainContainer .calendar .days .thirdWeek,
.mainContainer .calendar .days .fourthWeek,
.mainContainer .calendar .days .fifthWeek {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2px;
}

.mainContainer .calendar .days .firstWeek div,
.mainContainer .calendar .days .secondWeek div,
.mainContainer .calendar .days .thirdWeek div,
.mainContainer .calendar .days .fourthWeek div,
.mainContainer .calendar .days .fifthWeek div {
  font-size: max(20px, 1.2vw);
  margin-right: 2px;
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 10vh;
} */

.mainContainer .calendar .days .firstWeek div {
  background: #d03636;
}
.mainContainer .calendar .days .secondWeek div {
  background-color: #e94c4b;
}
.mainContainer .calendar .days .thirdWeek div {
  background: #ee766a;
}
.mainContainer .calendar .days .fourthWeek div {
  background: #f39d8e;
}
.mainContainer .calendar .days .fifthWeek div {
  background: #f8c0b3;
}
